@import '/static/vars.scss';


form {
    width: $auth-input-size;
    margin-bottom: $auth-logo-size;
    color: $auth-text-color;
}

.banners {
    width: $auth-input-size;
    margin-bottom: calc(6 * $margin-size);
}

.watermark {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: calc(6 * $margin-size);
    color: var(--bright-light);

    .logo {
        font-size: $auth-logo-size;
        margin-bottom: calc(2 * $margin-size);
    }
    .text {
        margin-bottom: $margin-size;
        font-size: larger;
        font-weight: bold;
        text-transform: lowercase;
    }
}

.input {
    margin-bottom: calc(6 * $margin-size);
    width: 100%;

    .input-text {
        width: 100%;
        color: $text-color;
        padding: calc(2 * $margin-size);
        box-sizing: border-box;
        border: 1px solid $border-color;
        border-radius: $margin-size;
        background-color: $auth-input-color;
        transition: all $hover-fade-time ease;
        &::placeholder {
            color: $border-color-hover;
        }
        &:hover {
            background-color: $auth-input-color-focus;
            border: 1px solid $border-color-hover;
        }
        &:focus, &:focus-visible {
            appearance: none;
            outline: none;
            background-color: $auth-input-color-focus;
            border: 1px solid var(--bright-light);
            outline: var(--bright-light) solid 2px;
        }
        &.issue {
            outline-color: $border-color-error;
            border-color: $border-color-error;
        }
    }
    .warning {
        font-size: smaller;
        font-weight: bold;
        margin-left: calc(2 * $margin-size);
        margin-top: calc(2 * $margin-size);
        margin-bottom: $margin-size;
        p {
            color: $border-color-error;
            margin: 0;
            margin-top: $margin-size;
        }
        
    }

    .helper {
        font-size: smaller;
        margin-left: calc(2 * $margin-size);
        p {
            margin: 0;
        }
    }
}

.subtitle {
    font-size: smaller;
    text-align: center;
    color: $auth-text-color;
    a {
        color: $auth-text-color;
        color: var(--bright-light);
        font-weight: bold;
        text-decoration: none;
        border-radius: calc(1/2 * $margin-size);
        transition: all $hover-fade-time ease;
        &:hover {
            color: var(--main-light);
            cursor: pointer;
        }
        &:focus, &:focus-visible {
            outline: var(--main-light) solid 2px;
            color: var(--main-light);
        }
    }
}

.btn-primary {
    width: 100%;
    color: $button-color-text;
    padding: calc(2 * $margin-size);
    border: 1px solid $border-color;
    border-radius: $margin-size;
    background-color: $button-color;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color $hover-fade-time ease;
    &:hover:enabled {
        background-color: $button-color-focus;
        border: 1px solid $border-color-hover;
    }
    &:focus:enabled, &:focus-visible:enabled {
        appearance: none;
        outline: none;
        background-color: $button-color-focus;
        border: 1px solid $border-color-focus;
        outline: var(--main-light) solid 2px;
    }
    &:disabled {
        opacity: 50%;
    }
}