$border: hsla(200, 100%, 70%, 100%);
$border-hover: hsla(200, 70%, 100%, 100%);
$border-bright: hsla(200, 70%, 100%, 100%);
$border-brighter: hsla(200, 70%, 100%, 100%);

$hover: hsla(120, 100%, 70%, 100%);
$item: hsla(120, 100%, 70%, 100%);
$item-hover: hsla(120, 100%, 70%, 100%);
$item-active: hsla(120, 100%, 70%, 100%);

$shadow-faint: hsla(0, 0%, 0%, 30%);
$shadow: hsla(0, 0%, 0%, 60%);
$shadow-dark: hsla(0, 0%, 10%, 65%);

$gray-a: hsl(0, 100%, 10%);
$gray-b: hsl(0, 100%, 15%);
$gray-c: hsl(0, 100%, 25%);
$gray-d: hsl(0, 100%, 30%);
$gray-e: hsl(0, 100%, 35%);

$white-a: hsl(0, 0%, 100%);
$white-b: hsl(0, 0%, 85%);

$red-a: hsl(0, 100%, 80%);

$gray-c-tl: hsl(0, 0%, 30%, 50%);
