
$border: hsla(0, 0%, 100%, 10%);
$border-hover: hsla(0, 0%, 100%, 20%);
$border-bright: hsla(0, 0%, 100%, 30%);
$border-brighter: hsla(0, 0%, 100%, 60%);

$hover: hsla(0, 0%, 100%, 15%);
$item: hsla(0, 0%, 100%, 10%);
$item-hover: hsla(0, 0%, 100%, 15%);
$item-active: hsla(0, 0%, 100%, 20%);

$shadow-faint: hsla(0, 0%, 0%, 30%);
$shadow: hsla(0, 0%, 0%, 60%);
$shadow-dark: hsla(0, 0%, 10%, 65%);

$gray-a: hsl(0, 0%, 10%);
$gray-b: hsl(0, 0%, 15%);
$gray-c: hsl(0, 0%, 25%);
$gray-d: hsl(0, 0%, 30%);
$gray-e: hsl(0, 0%, 35%);

$white-a: hsl(0, 0%, 100%);
$white-b: hsl(0, 0%, 85%);

$red-a: hsl(0, 100%, 80%);

$gray-c-tl: hsl(0, 0%, 30%, 50%);
