@use "colors";
@use "sizes";

@mixin animate {
	transition: 0.1s all ease-out;
}

@mixin interactive {
	outline: 2px solid transparent;
	outline-offset: -4px;

	&:focus-visible {
		outline-color: white;
		background-color: colors.$hover;
	}
}

@mixin clickable {
	@include interactive;
	@include animate;
	border: 1px solid transparent;
	cursor: pointer;

	&:hover {
		background-color: colors.$hover;
		border-color: colors.$border-hover;
		box-shadow: 0px 0px 5px colors.$shadow-faint;
	}
	&:active {
		background-color: colors.$active;
	}
}

@mixin clickable-solid {
	@include interactive;
	@include animate;

	padding: 5px;
	background-color: colors.$border;
	border: 1px solid colors.$border;
	cursor: pointer;

	&:hover {
		background-color: colors.$hover;
		border-color: colors.$border-hover;
	}
	
}

@mixin button {
	@include clickable;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	font-size: smaller;
	box-sizing: border-box;
	width: max-content;
	padding: 12px;
	background-color: colors.$border;
	border: 1px solid colors.$border;
	border-radius: 5px;
	box-shadow: 0px 0px 5px colors.$shadow-faint;
}

@mixin link {
	@include interactive;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}

@mixin textbox {
	all: unset;
	@include animate;
	color: white;
	font-size: smaller;
	box-sizing: border-box;
	padding: 12px;
	border: 1px solid colors.$border-hover;
	border-radius: 5px;
	box-sizing: border-box;
	width: 100%;
	background-color: hsl(0, 0%, 0%, 10%);
	box-shadow: inset 0px 0px 5px colors.$shadow-faint;

	&:hover {
		border-color: colors.$border-bright;
	}

	&:focus {
		background-color: hsl(0, 0%, 0%, 25%);
		border-color: colors.$border-bright;
		box-shadow: inset 0px 0px 5px colors.$shadow;
	}
}

@mixin mobile-only {
	@media (max-width: calc(sizes.$screen-lg - 1px)) {
		@content;
	}
}

@mixin desktop-only {
	@media (min-width: sizes.$screen-lg) {
		@content;
	}
}
