@use "colors";
@use "sizes";

@mixin animate {
	transition: 0.1s all ease-out;
}

@mixin interactive {
	outline: 2px solid transparent;
	outline-offset: -4px;

	&:focus-visible {
		outline-color: white;
		background-color: colors.$hover;
	}
}

@mixin clickable {
	@include interactive;
	@include animate;
	border: 1px solid transparent;
	cursor: pointer;

	&:hover {
		background-color: colors.$hover;
		border-color: colors.$border-hover;
	}
	&:active {
		background-color: colors.$active;
	}
}

@mixin button {
	@include clickable;
	font-weight: 700;
	text-transform: uppercase;
	font-size: smaller;
	box-sizing: border-box;
	width: max-content;
	padding: 12px;
	background-color: colors.$border;
	border: 1px solid colors.$border;
	border-radius: 5px;
}

@mixin mobile-only {
	@media (max-width: calc(sizes.$screen-lg - 1px)) {
		@content;
	}
}

@mixin desktop-only {
	@media (min-width: sizes.$screen-lg) {
		@content;
	}
}
